<!-- Study -->
<section class="content-section" id="study">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Study</h3>
            <h2 class="mb-5">Recent Repositories</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" id="openStudy1Modal">
              <span class="caption">
                <span class="caption-content">
                  <h2>SpringBoot Project</h2>
                  <p class="mb-0">'스프링 부트와 AWS로 혼자 구현하는 웹 서비스 구현'을 SpringBoot version 3.2.1, JUnit 5, Thymeleaf로 구현</p>
                </span>
              </span>
              <img class="img-fluid" src="{{ site.baseurl }}/assets/img/study-10.jpg" alt="">
            </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Ice Cream</h2>
                  <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                </span>
              </span>
              <img class="img-fluid" src="{{ site.baseurl }}/assets/img/portfolio-2.jpg" alt="">
            </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Strawberries</h2>
                  <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                </span>
              </span>
              <img class="img-fluid" src="{{ site.baseurl }}/assets/img/portfolio-3.jpg" alt="">
            </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Workspace</h2>
                  <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                </span>
              </span>
              <img class="img-fluid" src="{{ site.baseurl }}/assets/img/portfolio-4.jpg" alt="">
            </a>
            </div>
        </div>
    </div>

    <div id="study1Modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">
          <img src="{{ site.baseurl }}/assets/img/study-11.jpg" alt="" style="float:left; width:45%;">
          <div style="float:right; width:45%;">
            <h3><a href="https://github.com/BanJung/springboot_study">SpringBoot Project </a><i class="icon-link small"></i></h3>
            <b>1. 소속</b>
            <p>r개인 프로젝트</p>
            <b>2. 참여인원</b>
            <p>1명</p>
            <b>3. 사용도구</b>
            <p>SpringBoot 및 JPA(Java), Thymeleaf, Git, AWS</p>
            <b>4. 프로젝트 기간</b>
            <p>2024.08.01-</p>
            <b>5. 참여기간</b>
            <p>2024.08.01-</p>
          </div>
        </div>
      </div>
    </div>
</section>
